/* Fonte e cores */
body, .body-background {
    font-family: "Poppins", sans-serif;
    color: #ffffff;
    background-color: black;
}

/* Background global */
.body-background {
    background-image: url('../imgs/background02.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

/* Banner */
.banner-home {
    width: 100%;
    margin: 0;
    padding: 0;
}

.banner-home img {
    width: 100%;
    height: auto;
    display: block; /* remove espaçamento do inline */
}

/* Navbar */
.navbar-nav .nav-link {
    color: #ffffff !important;
}

/* Hover navbar */
.navbar-nav .nav-item:hover {
    font-weight: bold;
}

/* Main */
main {
    flex: 1; /* faz o main ocupar o espaço disponível, empurrando o footer para baixo */
}

/* Footer */
footer {
    background-color: #161616;
    color: #fff;
    text-align: center;
    padding: 20px 0;
}

/* Tables e listas */
.table, .list-group {
    background-color: #1a1a1a;
}

.table-hover tbody tr:hover {
    background-color: #4b4b4b;
}

/* Dando contraste ao conteúdo principal */
.content-wrapper {
    background: linear-gradient(135deg, #1c1c1c, #2e2e2e); /* cinza escuro gradiente */
    color: #f5f5f5; /* fonte clara para contraste */
    padding: 30px;
    border-radius: 16px;
    margin: 20px auto;
    max-width: 1200px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.3);
}